.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vh;

  position: relative;
}

.imgContainer {
  width: 100%;
  height: 25vh;

  position: relative;
}

.descriptionContainer {
  border: 2px solid black;
  background-color: black;
  border-radius: 0 0 10px 10px;
}

.titleContainer {
  padding: 5px;
  background-color: #1EFFBC;
}

.titleContainer h1 {
  font-size: 13px;
  color: black;
  text-align: center;
}

.contentContainer {
  padding: 5px;
}

.contentContainer p {
  font-size: 10px;
  text-align: center;
  color: #1EFFBC;
}