.outerContainer {
  /* sizing */

  /* position */

  /* children organizing */
  display: flex;

  /* padding and margin */

  /* borders */

  /* colors */

  /* font */
}

.overlay {
  /* sizing */
  height: 100vh;
  width: 100vh;
  
  /* position */
  position: fixed;
  top: 37px;
  right: 0;
  z-index: 100;

  /* children organizing */

  /* padding and margin */

  /* borders */

  /* colors */
  background-color: rgba(0, 0, 0, .5)
  /* font */
}

.container {
  /* sizing */
  height: calc(100dvh - 37px);

  /* position */
  position: fixed;
  top: 37px;
  right: 0;
  z-index: 100;

  /* children organizing */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  /* padding and margin */
  padding: 15px;

  /* borders */

  /* colors */
  background: #1EFFBC;

  /* font */
}

.container.light {
  background: white;
}

.linksContainer {
  /* sizing */
  width: 100%;

  /* position */

  /* children organizing */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 5px

  /* padding and margin */

  /* borders */

  /* colors */

  /* font */
}

.linksContainer a {
  /* sizing */
  
  /* position */

  /* children organizing */

  /* padding and margin */

  /* borders */
  border-bottom: 3px solid black;

  /* colors */
  color: black;

  /* font */
  font-size: 34px;
  font-weight: 500;
}

.linksContainer.light a {
  color: #5C6F68;
  border-bottom-color: #5C6F68;
}

.menuLogo {
  height: 110px;
  width: 140px;
  padding-left: 20px;
  padding-right: 20px;
}

.menuLogo.light {
  filter: invert(41%) sepia(18%) saturate(293%) hue-rotate(106deg) brightness(97%) contrast(91%);
}

.lightToggleOuterContainer {
  /* sizing */
  
  /* position */

  /* children organizing */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;

  /* padding and margin */

  /* borders */

  /* colors */

  /* font */
}

.lightToggleOuterContainer h3 {
  /* sizing */

  /* position */

  /* children organizing */

  /* padding and margin */
  padding-bottom: 3px;

  /* borders */

  /* colors */
  color: black;

  /* font */
  font-size: 18px;
  font-weight: 500;
}

.lightBarText.light {
  color: #5C6F68;
}

.lightToggleInnerContainer {
  /* sizing */
  width: 36px;
  height: 17px;
  
  /* position */
  position: relative;

  /* children organizing */

  /* padding and margin */

  /* borders */

  /* colors */

  /* font */
}

.toggleBar {
  /* sizing */

  width: 36px;
  height: 17px;
  
  /* position */
  position: relative;

  /* children organizing */

  /* padding and margin */

  /* borders */

  /* colors */

  /* font */
}

.toggleCircleOuterContainer {
  position: relative;
  bottom: 22px;
  width: 36px;
  height: 17px;
  display: flex;
  justify-content: flex-start;
}

.toggleCircleOuterContainer[data-lightmode="true"] {
  justify-content: flex-end;
}

.toggleCircleInnerContainer {
  position: relative;
  width: 17px;
  height: 17px;
}

.toggleCircle {
  /* sizing */
  width: 17px;
  height: 17px;
  
  /* position */
  position: relative;

  /* children organizing */

  /* padding and margin */

  /* borders */

  /* colors */

  /* font */
}

.toggleBar.light {
  filter: invert(42%) sepia(28%) saturate(205%) hue-rotate(106deg) brightness(92%) contrast(86%);
}

.toggleCircle.light {
  filter: invert(0%) sepia(0%) saturate(7483%) hue-rotate(75deg) brightness(0%) contrast(104%);
}

@media (min-width: 750px) {
  .overlay {
    top: 68px;
  }

  .container {
    height: calc(100dvh - 68px);
    top: 67px;
    padding: 20px;
  }

  .menuLogo {
    height: 200px;
    width: 235px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .linksContainer a {
    font-size: 60px;
    border-bottom-width: 6px;
  }

  .lightToggleOuterContainer h3 {
    font-size: 30px;
  }

  .lightToggleInnerContainer {
    width: 65px;
    height: 30px;
  }

  .toggleBar {
    width: 65px;
    height: 30px;
  }

  .toggleCircleOuterContainer {
    bottom: 35px;
    width: 65px;
    height: 30px;
  }

  .toggleCircleInnerContainer {
    width: 30px;
    height: 30px;
  }

  .toggleCircle {
    width: 30px;
    height: 30px;
  }
}