.container {
  /* sizing */
  height: 100vh;

  /* position */
  position: fixed;
  top: 37px;
  right: 0;
  z-index: 100;

  /* children organizing */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  align-items: center;

  /* padding and margin */
  padding: 15px;

  /* borders */

  /* colors */
  background: #1EFFBC;

  /* font */
}

.linksContainer {
  /* sizing */

  /* position */

  /* children organizing */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 5px

  /* padding and margin */

  /* borders */

  /* colors */

  /* font */
}

.linksContainer a {
  /* sizing */
  
  /* position */

  /* children organizing */

  /* padding and margin */

  /* borders */
  border-bottom: 3px solid black;

  /* colors */
  color: black;

  /* font */
  font-size: 24px;
  font-weight: 500;
}