.container {
  position: relative;
  width: 298.2px;
}

.titleGraphic {
  position: absolute;
  height: 80px;
  width: 299px;
}

.titleContainer {
  position: relative;
  padding-top: 22px;
  display: flex;
  justify-content: center;
}

.titleContainer h1 {
  position: absolute;
  font-size: 24px;
  text-align: center;
  color: black;
}

/* Custom classes for each graphic in the details section, so that they can be sized correctly */

.customWebDesign {
  position: relative;
  height: calc(20px*1.4);
  width: 100%;

  display: flex;
  justify-content: center;
}

.professionalCoding {
  position: relative;
  height: 50px;
  width: 100%;

  display: flex;
  justify-content: center;
}

.webHosting {
  position: relative;
  height: 50px;
  width: 100%;

  display: flex;
  justify-content: center;
}

.siteMaintenance {
  position: relative;
  height: 40px;
  width: 100%;

  display: flex;
  justify-content: center;
}

.unlimitedChanges {
  position: relative;
  height: 25px;
  width: 100%;

  display: flex;
  justify-content: center;
}

.seoStrategies {
  position: relative;
  height: 25px;
  width: 100%;

  display: flex;
  justify-content: center;
}

.ecommerceStores {
  position: relative;
  height: 50px;
  width: 100%;

  display: flex;
  justify-content: center;
}

.websiteAnalytics {
  position: relative;
  height: 55px;
  width: 100%;

  display: flex;
  justify-content: center;
}



.bulletsContainer {
  margin-top: 20px;

  padding: 35px 15px 15px 15px;
  list-style-position: inside;

  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: black;
  border-radius: 0 0 25px 25px;
}

.bulletsContainer p {
  color: black;
  font-size: 16px;
  background-color: #1EFFBC;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  font-weight: 500;
}