.outerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titleGraphic {
  position: absolute;
  height: 80px;
  width: 299px;
}

.titleContainer {
  position: relative;
  padding-top: 22px;
  display: flex;
  justify-content: center;
}

.titleContainer h1 {
  position: absolute;
  font-size: 24px;
  text-align: center;
  color: black;
}

/* Custom classes for each graphic in the details section, so that they can be sized correctly */

.customWebDesign {
  position: relative;
  height: calc(20px*1.4);
  width: 100%;

  display: flex;
  justify-content: center;
}

.professionalCoding {
  position: relative;
  height: 50px;
  width: 100%;

  display: flex;
  justify-content: center;
}

.webHosting {
  position: relative;
  height: 50px;
  width: 100%;

  display: flex;
  justify-content: center;
}

.siteMaintenance {
  position: relative;
  height: 40px;
  width: 100%;

  display: flex;
  justify-content: center;
}

.unlimitedChanges {
  position: relative;
  height: 25px;
  width: 100%;

  display: flex;
  justify-content: center;
}

.seoStrategies {
  position: relative;
  height: 25px;
  width: 100%;

  display: flex;
  justify-content: center;
}

.ecommerceStores {
  position: relative;
  height: 50px;
  width: 100%;

  display: flex;
  justify-content: center;
}

.websiteAnalytics {
  position: relative;
  height: 55px;
  width: 100%;

  display: flex;
  justify-content: center;
}

.bulletsContainer {
  padding: 13px;

  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: black;
  border-radius: 35px 35px 20px 20px;
}

.bulletsContainer.light {
  background-color: #5C6F68;
}

.bulletsContainer p {
  color: black;
  font-size: 16px;
  background-color: #1EFFBC;
  padding: 5px;
  border-radius: 10px;
  text-align: center;
  font-weight: 500;
}

.bulletsContainer.light p {
  background-color: white;
}

@media (min-width: 750px) {
  .bulletsContainer p {
    font-size: 21px;
  }

  .customWebDesign {
    height: calc(20px*2);
    width: 100%;
  }

  .professionalCoding {
    height: 68px;
    width: 100%;
  }

  .webHosting {
    height: 70px;
    width: 100%;
  }

  .siteMaintenance {
    height: 60px;
    width: 100%;
  }

  .unlimitedChanges {
    height: 35px;
    width: 100%;
  }

  .seoStrategies {
    height: 35px;
    width: 100%;
    right: 11px;
  }

  .ecommerceStores {
    height: 80px;
    width: 100%;
  }

  .websiteAnalytics {
    height: 90px;
    width: 100%;
  }
}