.container {
  background-color: #1EFFBC;
  border: 3px solid black;
  outline: 3px solid #1EFFBC;

  padding: 0px 5px;
}

.container.light {
  background-color: white;
  border-color: #5C6F68;
  outline-color: white;
}

.container h1 {
  color: black;
  font-weight: 400;
  font-size: 32px;
}

.container.light h1 {
  color: #5C6F68;
}

@media (min-width: 750px) {
  .container {
    border-width: 6px;
    outline-width: 6px;
  }

  .container h1 {
    font-size: 50px;
  }
}