.prefaceContainer {
  background-color: black;

  padding: 5vh 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4vh;

  position: relative;
  height: calc(100vh - 37px);
}

.prefaceContainer.light {
  background-color: #5C6F68;
}

.descriptionContainer {
  background-color: #1EFFBC;
  border: 3px solid black;
  outline: 3px solid #1EFFBC;
  border-radius: 15px;

  padding: 5px;
}

.descriptionContainer.light {
  background-color: white;
  outline-color: white;
  border-color: #5C6F68;
}

.descriptionContainer p {
  color: black;
  font-size: 15px;
  
  text-align: center;
}

.descriptionContainer.light p {
  color: #5C6F68;
}

.outerItemsContainer {
  padding: 5vh 15px;

  display: flex;
  flex-direction: column;
  justify-Content: center;
  align-items: center;
  gap: 7vh;

  position: relative;
  background-color: #1EFFBC;
}

.outerItemsContainer.light {
  background-color: white;
}

.itemsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7vh;
}
