.prefaceContainer {
  background-color: black;

  padding: 5vh 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4vh;

  position: relative;
}

.prefaceContainer.light {
  background-color: #5C6F68;
}

.descriptionContainer {
  background-color: #1EFFBC;
  border: 3px solid #1EFFBC;
  border-radius: 15px;
}

.descriptionContainer.light {
  background-color: white;
  border-color: white;
}

.descriptionContainer p {
  color: black;
  font-size: 15px;

  padding: 5px;
  border: 3px solid black;
  border-radius: 15px;
  
  text-align: center;
}

.descriptionContainer.light p {
  color: #5C6F68;
  border-color: #5C6F68;
}

.outerItemsContainer {
  padding: 5vh 15px;

  display: flex;
  flex-direction: column;
  justify-Content: center;
  align-items: center;
  gap: 7vh;

  position: relative;
  background-color: #1EFFBC;
}

.outerItemsContainer.light {
  background-color: white;
}

.itemsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7vh;
}

@media (min-width: 750px) {
  .prefaceContainer {
    border-radius: 30px;
    padding: 60px;
    margin: 60px;
    gap: 60px;
  }

  .developerGraphic {
    width: 380px;
    height: 380px;
  }

  .descriptionContainer {
    border-width: 5px; 
  }

  .descriptionContainer p {
    font-size: 24px;
    border-width: 6px;
    padding: 10px;
  }

  .outerOuterItemsContainer {
    padding: 60px;
    background-color: black;
  }

  .outerOuterItemsContainer.light {
    background-color:#5C6F68;
  }

  .innerOuterItemsContainer {
    padding: 50px;
    border-radius: 30px;
    background-color:#1EFFBC;
    display: flex;
    flex-direction: column;
    gap: 100px;
  }

  .innerOuterItemsContainer.light {
    background-color: white;
  }

  .outerItemsContainer {
    padding: 0px;
    gap: 50px;
  }

  .itemsContainer {
    gap: 40px;
  }
}

@media (min-width: 1250px) {
  .prefaceContainer {
    margin: 50px 150px;
  }

  .developerGraphic {
    width: 300px;
    height: 300px;
  }

  .developerGraphicContainer {
    height: 315px;
    width: 315px;
    border: 4px solid #1EFFBC;
    border-radius: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .descriptionContainer {
    border-width: 4px;
  }

  .descriptionContainer p {
    font-size: 22px;
    padding: 5px;
    border-width: 4px;
  }

  .outerOuterItemsContainer {
    padding: 70px;
  }

  .innerOuterItemsContainer {
    gap: 40px;
    padding: 50px;
  }

  .outerItemsContainer {
    gap: 25px;
  }

  .itemsContainer {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    gap: 30px;
    justify-content: center;
    align-items: start;
  }

  .normalGridItemOne {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .normalGridItemTwo {
    grid-column-start: 3;
    grid-column-end: 5;
  }
  
  .bigGridItem {
    grid-column-start: 2;
    grid-column-end: 4;
  }
}