.container {
  background-color: black;

  padding: 5vh 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4vh;

  position: relative;
  height: calc(100vh - 37px);
}

.descriptionContainer {
  background-color: #1EFFBC;
  border: 3px solid black;
  outline: 3px solid #1EFFBC;
  border-radius: 15px;

  padding: 5px;
}

.descriptionContainer p {
  color: black;
  font-size: 13px;
  font-weight: 400;
  
  text-align: center;
}