.outerContainer {
  /* sizing */

  /* position */

  /* children organizing */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;

  /* padding and margin */
  margin: 15px;
  padding: 25px;

  /* borders */
  border-radius: 20px;

  /* colors */
  background-color: black;

  /* font */
}

.outerContainer.light {
  background-color: #5C6F68;
}

.formContainer {
  /* sizing */
  width: 300px;
  /* position */

  /* children organizing */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  /* padding and margin */
  padding: 15px;

  /* borders */
  border-radius: 20px;

  /* colors */
  background-color: #1EFFBC;

  /* font */
}

.formContainer.light {
  background-color: white;
}

.formItemOuterContainer {
  /* sizing */
  width: 100%;


  /* position */

  /* children organizing */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;

  /* padding and margin */
  padding-left: 5px;

  /* borders */
  border: 2px solid white;
  border-radius: 10px;

  /* colors */
  box-shadow: 0px 0.5px 2px rgba(0, 0, 0, 0.5);

  /* font */
}

.formItemOuterContainer.light {
  border-color: #1EFFBC;
}

.formItemOuterContainer label{
  /* sizing */

  /* position */

  /* children organizing */
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  justify-content: center;

  /* padding and margin */
  padding-top: 1px;

  /* borders */

  /* colors */
  color: black;

  /* font */
  font-size: 18px;
}

.formItemFieldContainer::placeholder {
  color: #C6DED5;
}

.formItemOuterContainer.light h3{
  color: #5C6F68;
}

.formItemFieldContainer {
  /* sizing */
  resize: none;

  /* position */

  /* children organizing */

  /* padding and margin */
  padding: 3px 7px;

  /* borders */
  -webkit-appearance: none;
  -webkit-box-shadow: 0 0 0 2px white;
  box-shadow: 0 0 0 2px white;
  border: 0px;

  border-radius: 9px;

  /* colors */
  background-color: rgba(0, 0, 0, 0.25);

  /* font */
  font-size: 18px;
}

.formItemFieldContainer.light {
  outline-color: #1EFFBC;
  color: black;
}

.formContainer button {
  /* sizing */
  width: 100%;

  /* position */

  /* children organizing */

  /* padding and margin */
  padding: 4px;

  /* borders */
  border: 2px solid white;
  border-radius: 8px;

  /* colors */
  background-color: #1EFFBC;
  box-shadow: 0px 0.5px 2px rgba(0, 0, 0, 0.5);

  /* font */
  font-size: 18px;
  color: black;
}

.formContainer.light button {
  border-color: #1EFFBC;
  background-color: white;
  color: #5C6F68;
}

@media (min-width: 750px) {
  .outerContainer {
    margin: 60px;
    padding: 60px;
    gap: 80px;
  }

  .formContainer {
    padding: 20px;
    width: 100%;
  }

  .formItemOuterContainer {
    justify-content: space-between;
    border-width: 4px;
    gap: 10px;
  }

  .formItemOuterContainer label {
    font-size: 30px;
  }

  .formItemFieldContainer {
    font-size: 30px;
    width: 100%;
    box-shadow: 0 0 0 4px white;
  }

  .formContainer button {
    font-size: 30px;
    border-width: 4px;
  }
}