.container {
  /* sizing */
  width: 100%;
  
  /* position */
  position: fixed;
  top: 0;
  z-index: 100;

  /* children organizing */
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  /* padding and margin */
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  
  /* borders */
  
  /* colors */
  background: #1EFFBC;
  box-shadow: 0px 0.5px 2px rgba(0, 0, 0, 0.5);

  /* font */
}

.container.light {
  background: white;
}

.companyName {
  /* sizing */
  
  /* position */
  
  /* children organizing */
  display: inline-block;
  
  /* padding and margin */
  
  /* borders */
  
  /* colors */
  color: black;
  text-shadow: 0px 0.5px 2px rgba(0, 0, 0, 0.5);

  /* font */
  font-size: 20px;
  font-weight: 700;
}

.companyName.light {
  color: #5C6F68;
}

.button {
  /* sizing */
  
  /* position */

  /* children organizing */

  /* padding and margin */
  padding: 0;

  /* borders */
  border: none;

  /* colors */
  background: none;

  /* font */

}

.menuLogo.light {
  filter: invert(41%) sepia(18%) saturate(293%) hue-rotate(106deg) brightness(97%) contrast(91%);
}