.container {
  background-color: black;

  padding-bottom: 5vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7vh;

  position: relative;
  height: calc(100dvh - 37px);
}

.container.light {
  background-color: #5C6F68;
}

.topLeftCornerHero {
  position: absolute;
  left: 0;
  top: 0;
  width: 40vw;
  height: 40vw;
}

.topRightCornerHero {
  position: absolute;
  right: 0;
  top: 0;
  width: 40vw;
  height: 40vw;
}

.bottomLeftCornerHero {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 40vw;
  height: 40vw;
}

.bottomRightCornerHero {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 40vw;
  height: 40vw;
}

.sloganContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.lineContainer {
  border: 3px solid #1EFFBC;
  
  padding: 3px;
}

.lineContainer.light {
  border: 3px solid white;
}

.lineContainer h2 {
  color: white;
  font-size: 30px;
  font-weight: 700;
}

.lineContainer.light h2 {
  color: #1EFFBC;
}

.lineContainer h3 {
  font-size: 30px;
  font-weight: 700;
}

.bottomInnerContainer {
  background: #1EFFBC;
}

.bottomInnerContainer.light {
  background: white;
}

.bottomText {
  color: black;
}

.bottomText.light {
  color: #5C6F68;
}

@media (min-width: 750px) {
  .logo {
    width: 375px;
    height: 400px;
  }

  .sloganContainer {
    gap: 35px;
  }

  .lineContainer, .lineContainer.light {
    border-width: 6px;
    padding: 6px;
  }

  .lineContainer h2 {
    font-size: 60px;
  }

  .lineContainer h3 {
    font-size: 60px;
  }
}