.container {
  background-color: black;

  padding-bottom: 5vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7vh;

  position: relative;
  height: calc(100vh - 37px);
}

.topLeftCornerHero {
  position: absolute;
  left: 0;
  top: 0;
}

.topRightCornerHero {
  position: absolute;
  right: 0;
  top: 0;
}

.bottomLeftCornerHero {
  position: absolute;
  left: 0;
  bottom: 0;
}

.bottomRightCornerHero {
  position: absolute;
  right: 0;
  bottom: 0;
}

.sloganContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3vh;
}

.lineContainer {
  border: 3px solid #1EFFBC;
  
  padding: 6px;
}

.lineContainer h2 {
  font-size: 28px;
  font-weight: 700;
}

.bottomInnerContainer {
  background: #1EFFBC;
}

.bottomText {
  color: black;
}