.container {
  background-color: black;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;
}

.container.light {
  background-color: #5C6F68;
}

.prefaceContainer {
  padding: 45px 0 85px 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;

  position: relative;
}

.sectionTitleContainer {
  position: relative;
}

.subscriptionContainer {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.subscriptionContainer h1 {
  text-align: center;
  font-size: 24px;
}

.subscriptionContainer.light h1 {
  color: #1EFFBC;
}

.priceContainer {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.priceContainer h2 {
  position: relative;
  text-align: center;
  font-size: 36px;
  color: black;
  font-weight: 400;
  text-shadow: 0px 0.5px 2px rgba(0, 0, 0, 0.5);
}

.priceContainer.light h2 {
  color: #5C6F68;
}

.prefaceParagraphContainer {
  position: relative;
  margin-top: 25px;
  width: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prefaceParagraphContainer p {
  position: relative;
  text-align: center;
  font-size: 18px;
  color: black;
  font-weight: 400;
  text-shadow: 0px 0.5px 2px rgba(0, 0, 0, 0.5);
}

.prefaceParagraphContainer.light p {
  color: #5C6F68;
}

.prefaceParagraphGraphicContainer {
  position: absolute;
  height: 200px;
  width: 304px;
  top: -20px;
}

.detailsOuterContainer {
  background-color: black;
  padding: 30px calc((100vw - 335px)/2);
}

.detailsOuterContainer.light {
  background-color: #5C6F68;
}

.detailsInnerContainer {
  background-color: #1EFFBC;
  border: 3px solid white;
  border-radius: 40px;
  padding: 15px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.detailsInnerContainer.light {
  background-color: white;
}

@media (min-width: 750px) {
  .container {
    gap: 60px;
  }

  .prefaceContainer {
    gap: 100px;
  }

  .priceContainer h2 {
    font-size: 60px;
  }

  .subscriptionContainer {
    gap: 50px;
  }

  .subscriptionContainer h1 {
    font-size: 50px;
  }

  .prefaceParagraphContainer {
    width: 550px;
  }

  .prefaceParagraphGraphicContainer {
    height: 400px;
    width: 608px;
    top: -30px;
  }

  .prefaceParagraphContainer p {
    font-size: 39px;
  }

  .detailsOuterContainer {
    padding: 30px;
    width: 100%;
  }

  .detailsInnerContainer {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    row-gap: 10px;
    column-gap: 8px;
  }

  .gridItem {
    align-self: start;
  }
}

@media (min-width: 1250px) {
  .prefaceContainer {
    gap: 80px;
  }

  .subscriptionContainer {
    gap: 30px;
  }

  .priceContainer h2 {
      font-size: 40px;
  }

  .subscriptionContainer h1 {
    font-size: 40px;
    padding-bottom: 15px;
  }

  .prefaceParagraphContainer {
    width: 440px;
  }

  .prefaceParagraphGraphicContainer {
    height: 340px;
    width: 510px;
    top: -40px;
  }

  .prefaceParagraphContainer p {
    font-size: 30px;
  }

  .detailsOuterContainer {
    padding: 60px;
  }

  .detailsInnerContainer {
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  }

  .gridItem.one {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .gridItem.two {
    grid-column-start: 3;
    grid-column-end: 5;
  }

  .gridItem.three {
    grid-column-start: 5;
    grid-column-end: 7;
  }

  .gridItem.four {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .gridItem.five {
    grid-column-start: 3;
    grid-column-end: 5;
  }

  .gridItem.six {
    grid-column-start: 5;
    grid-column-end: 7;
  }

  .gridItem.seven {
    grid-column-start: 2;
    grid-column-end: 4;
  }

  .gridItem.eight {
    grid-column-start: 4;
    grid-column-end: 6;
  }
}

@media (min-width: 2000px) {
  .container {
    gap: 100px;
  }

  .priceContainer h2 {
    font-size: 55px;
  }

  .prefaceParagraphContainer p {
    font-size: 45px;
  }

  .subscriptionContainer h1 {
    font-size: 45px;
  }

  .prefaceParagraphContainer {
    width: 650px;
  }

  .prefaceParagraphGraphicContainer {
    height: 475px;
    width: 700px;
    top: -40px;
  }

  .detailsOuterContainer {
    padding: 50px 600px 100px;
  }

  .detailsInnerContainer {
    row-gap: 16px;
  }
}