.container {
  background-color: black;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;
}

.container.light {
  background-color: #5C6F68;
}

.prefaceContainer {
  padding: 45px 0 20px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 45px;

  position: relative;
}

.subscriptionContainer {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.subscriptionContainer h2 {
  padding: 0px 15px;
  text-align: center;
  font-size: 30px;
}

.subscriptionContainer h1 {
  padding: 0px 15px;
  text-align: center;
  font-size: 27px;
  color:#1EFFBC;
}

.subscriptionContainer.light h1 {
  color: #1EFFBC;
}

.subscriptionContainer p {
  width: 345px;
  font-size: 18px;
  text-align: center;
}

.detailsOuterContainer {
  background-color: black;
  padding: 0px calc((100vw - 335px)/2) 30px;
}

.detailsOuterContainer.light {
  background-color: #5C6F68;
}

.detailsInnerContainer {
  background-color: #1EFFBC;
  border: 3px solid white;
  border-radius: 40px;
  padding: 15px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.detailsInnerContainer.light {
  background-color: white;
}

@media (min-width: 750px) {
  .detailsOuterContainer {
    padding: 30px;
    width: 100%;
  }

  .detailsInnerContainer {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    row-gap: 10px;
    column-gap: 8px;
  }

  .gridItem {
    align-self: start;
  }
}

@media (min-width: 1250px) {
  .subscriptionContainer {
    gap: 30px;
  }

  .subscriptionContainer h2 {
    font-size: 35px;
  }

  .subscriptionContainer h1 {
    font-size: 32px;
  }

  .subscriptionContainer p {
    font-size: 23px;
    width: 450px;
  }

  .detailsOuterContainer {
    padding: 50px calc((100vw - 1143px)/2);
  }

  .detailsInnerContainer {
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  }

  .gridItem.one {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .gridItem.two {
    grid-column-start: 3;
    grid-column-end: 5;
  }

  .gridItem.three {
    grid-column-start: 5;
    grid-column-end: 7;
  }

  .gridItem.four {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .gridItem.five {
    grid-column-start: 3;
    grid-column-end: 5;
  }

  .gridItem.six {
    grid-column-start: 5;
    grid-column-end: 7;
  }

  .gridItem.seven {
    grid-column-start: 2;
    grid-column-end: 4;
  }

  .gridItem.eight {
    grid-column-start: 4;
    grid-column-end: 6;
  }
}

@media (min-width: 1500px) {
  .detailsOuterContainer {
    padding: 50px calc((100vw - 1143px)/2);
  }
}

@media (min-width: 2000px) {
  .subscriptionContainer h2 {
    font-size: 40px;
  }

  .subscriptionContainer h1 {
    font-size: 37px;
  }

  .subscriptionContainer p {
    font-size: 28px;
    width: 550px;
  }

  .detailsOuterContainer {
    padding: 50px calc((100vw - 1330px)/2);
  }

  .detailsInnerContainer {
    row-gap: 16px;
  }
}