* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-weight: 400;
}

html,
body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  background: #1EFFBC;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  vertical-align: center;
}

textarea, input {
  outline: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}