.mainContainer {
  padding-top: 37px;
}

.mainContainer.light {
  background-color: white;
}

@media (min-width: 1250px) {
  .mainContainer {
    padding-top: 51px;
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
